@import 'config';

// - HEADER MEDIKAMENTE -----------------------

.vorlage {
  width:375px;
  position: absolute;
  opacity: 0.3;
  z-index: 100;
  display: none;
}

.header-medikamente {
  top: 0;
  width:100%;
  z-index:100;
  position:fixed;
  height: 72px;
  margin-top: 0;
  background: $green;
  box-shadow: $box-shadow-header;
  h1 {
    width:100%;
    font-family: $header-font;
    font-size: $header-font-size;
    line-height: 31.41px;
    margin: 25px 0;
    color: $header-font-color;
    text-align: center;
    font-weight: $font-weight-title;
    font-size:$header-font-size;
  }
  @keyframes headerUp {
    from {
      top: 0;
    }
    to {
      top:-50px;
    }
  }
  &.active {
    top:-50px;
    animation: headerUp 1s;
  }
}


// - CONTENT MEDIKAMENTE -----------------------

.medikamente-main {
  width: 100%;
  overflow: hidden;
  position: aboslute;
  top: 0;
  background: $medi-background;
  letter-spacing: 1px;
}


// - KARTEN -----------------------

.karten {
  padding-top: 78px;
  padding-left: 3%;
  position: relative;
  .medi {
    position: relative;
    float: left;
    width: 94px;
    margin: 24px 26px;
    top: 0px;
    @keyframes mediUp {
      from {
        top: 0px;
      }
      to {
        top: 60px;
      }
    }
    &.active {
      top: 60px;
      animation: mediUp 1s;
    }
  }
  .exp-icon {
    margin-right: 5px;
    float: left;
    width: 19px;
  }
  .karte {

    width: 97%;
    height: 117px;
    background: $card-background;
    box-shadow: $box-shadow-cards;
    .tagBar {
      position: absolute;
      height: 117px;
      width: 2%;
      opacity: 1;

      @keyframes fadeOutUp {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
          transform: translate3d(0, -100%, 0);
        }
      }
      &.active {
        opacity: 0;
        animation: fadeOutUp 1s;
      }

    }
    .karte-gruen {
      .tagBar {
        background: $green;
      }
    }
    .karte-orange {
      .tagBar {
        background: $orange;
      }
    }
    .karte-red {
      .tagBar {
        background: $red;
      }
    }
    .name {
      margin-left: 0px;
      padding-top: 15px;
      margin-bottom: 0;
      margin-top: 10px;
      opacity: 1;
      font-size: $karten-titel-size;
      @keyframes nameLeft {
        0% {
          opacity: 1;
        }
        20% {
          opacity: 0;
        }
        80% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      &.active {
        position: absolute;
        margin-left: 40px;
        animation: nameLeft 1s;
      }
    }
    .tag {
      margin-left: 140px;
      margin-top: 2px;
      font-size: $karten-tag-size;
      font-family: $karten-font-family;
      font-weight: 300;
    }
    .exp-date {
      margin-left: 165px;
      font-family: $karten-font-family;
      font-weigth: $font-weight-expired;
      font-size: $font-size-small;
      line-height: 20px;
      opacity: 1;
      margin-top:0;

      @keyframes exp-datePos {
        0% {
          opacity: 1;
        }
        20% {
          opacity: 0;
        }
        80% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      &.active {
        position: absolute;
        margin-top: 242px;
        animation: exp-datePos 1s ease-in-out;
      }
      .datum {
        margin-left: 20px;
      }
    }
    .expired {
      margin-left: 165px;
      font-size: $font-size-small;
      color: $red;
      line-height: 22px;
      font-weigth: $font-weight-expired;
    }
    &:last-child {
      margin-bottom: 67px;
    }
    .beschreibung {
      font-size: $font-size-text;
      font-weight: $font-weight-text;
      margin-left: 25px;
      float: left;
      position: absolute;
      opacity: 0;
      top: 0;
      @keyframes beschreibung-in {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      &.active {
        top: 187px;
        opacity: 1;
        animation: beschreibung-in 1.7s;
      }
    }


    // animation stuff

    @keyframes karte-open {
      from {
        height: 117px;
      }
      to {
        height: 600px;
      }
    }
    &.active {
      height: 600px;
      animation: karte-open 1s;
    }
  }
  @keyframes kartenPos {
    from {
      padding-top: 78px;
    }
    to {
      padding-top: 20px;
    }
  }
  &.active {
    padding-top: 20px;
    animation: kartenPos 1s ease-in-out;
  }
}
