// - HEADER Scan -----------------------

.header-scan {
	top: 0;
	width:100%;
	z-index:100;
	position:fixed;
	height: 72px;
	margin-top: 0;
	background: $green;
	box-shadow: $box-shadow-header;
	h1 {
		width:100%;
		font-family: $header-font;
		font-size: $header-font-size;
		line-height: 31.41px;
		margin: 25px 0;
		color: $header-font-color;
		text-align: center;
		font-weight: $font-weight-title;
		font-size:$header-font-size;
	}
}


// - CONTENT SCAN -----------------------

#video-bg {
	position: fixed;
	right: 0px;
	bottom: 0px;
	width: auto;
	min-width: 100%;
	height: auto;
	min-height: 100%;
	z-index: 0;
	background: transparent url(video/aspirin.jpg) no-repeat;
	background-size: cover;
}

.camera-guide {
	position: fixed;
 	margin: 40% 20%;
	width: 227.01px;
	z-index: 10;
}



// - FOOTER SCAN -----------------------

.footer-scan {
	z-index:100;
	position:fixed;
	bottom:0;
	width:100%;
	height: 54.91px;
	background: rgba(89,89,89,0.76);
	box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.10);
	a {
		text-decoration: none;
		img {
			height: 37px;
			margin-top: 9px;
			margin-left: 64.3px;
		}
	}
}