@import 'config';


// - FOOTER -----------------------

footer {
	background: white;
	z-index:100;
	position:fixed;
	bottom:0;
	width:100%;
	height: 54.91px;
	box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.10);
	a {
		text-decoration: none;
		img {
			height: 37px;
			margin-top: 9px;
			margin-left: 64.3px;
		}
	}
}
