@import 'config';

.list {
  .items {
    .item {
      background-color: $color;
      padding: 20px;

      &:nth-child(odd) {
        background-color: darken($color, 10);
      }
      &.add {
        background-color: $color2;
      }
      &.finished {
        background-color: lighten($grey, 30);
        .name {
          text-decoration: line-through;
        }
        &:nth-child(odd) {
          background-color: lighten($grey, 20);
        }
      }
    }
    .tick {
      display: inline-block
    }
    .name {
      display: inline-block;
      font-size: 18px;
    }
  }

  /* Animations */

  // General
  .item {
    transition: background-color 0.3s;
  }

  // Enter animation
  .item {
    animation: fade-in 0.7s ease 1;
    @keyframes fade-in {
      from {
        opacity: 0;
        transform: translate3d(0, -300%, 0);
      }
      to {
        opacity: 1;
        transform: none;
      }
    }
  }

  // Leave Animation
  .item.ng-leave {
    animation: fade-out 0.7s ease 1;
    @keyframes fade-out {
      from {
        opacity: 1;
        transform: none;
      }
      to {
        opacity: 0;
        transform: translate3d(0, -300%, 0);
      }
    }
  }
}
