@import 'config';
@import 'scan';
@import 'profil';
@import 'medikamente';
@import 'footer';

// - BODY -----------------------

body	{
	margin: 0;
	font: 100% $main-font;
	background: transparent;
}


// - ANIMATIONS -----------------------

//view animations

.slide {
  position: absolute;
  width: 100%;
  transition: transform .7s ease-in-out;
  transform: translateX(0);
  &.ng-enter {
    transform: translateX(100%);
  }
  &.ng-enter.ng-enter-active, &.ng-leave {
    transform: translateX(0);
  }
  &.ng-leave.ng-leave-active {
    transform: translateX(-100%);
  }
}

.header-medikamente {
  h1 {

  }
}