@import 'config';
@import 'scan';
@import 'profil';
@import 'medikamente';
@import 'footer';

// - BODY -----------------------

body	{
	margin: 0;
	font: 100% $main-font;
	background: transparent;
  height: 100%;
  min-heigth: 100%;
  width: 100%;
  position: static;
  &.active {
    position: fixed;
  }
}


// - ANIMATIONS -----------------------

// GENERAL

@keyframes fade-right-to-left {
  from {
    transform: translateX(100vw)
  }
  to {
    transform: translateX(0)
  }
}

@keyframes fade-left-to-right {
  from {
    transform: translateX(100vw)
  }
  to {
    transform: translateX(0)
  }
}

.slide {
  // position: absolute;
  // width: 100%;
  // transform: translateX(0);
  // &.ng-enter {
  //   animation: fade-right-to-left 1s;
  // }
  // &.ng-enter.ng-enter-active, &.ng-leave {
  //   transform: translateX(0);
  // }
  // &.ng-leave.ng-leave-active {
  //   animation: fade-left-to-right 1s;
  // }
}




// MEDIKAMENTE ANIMATIONS


.karte {
  transition: all 0.1s ease;
  &.ng-enter-stagger {
    animation-delay: 0.1s;
  }
  &.ng-enter {
    animation: fade-right-to-left 1.2s;
  }
}


