@import 'config';
@import 'scan';
@import 'profil';
@import 'medikamente';
@import 'footer';

// - BODY -----------------------

body	{
	margin: 0;
	font: 100% $main-font;
	background: transparent;
}


// - ANIMATIONS -----------------------

GENERAL

.slide {
  position: absolute;
  width: 100%;
  transition: transform .7s ease-in-out;
  transform: translateX(0);
  &.ng-enter {
    transform: translateX(100%);
  }
  &.ng-enter.ng-enter-active, &.ng-leave {
    transform: translateX(0);
  }
  &.ng-leave.ng-leave-active {
    transform: translateX(-100%);
  }
}


// PROFIL

.header-profil {
  -webkit-animation-duration: 1.5s;
  img {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0.1s;  
  }
  h1 {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0.3s;
  }
}


// MEDIKAMENTE
