
<header class="header-medikamente">
	<h1>Medikamente</h1>
</header>

<div class="karten" ng-controller="kartenController">
	<div class="karte" ng-repeat="med in meds" ng-controller="medikamenteController" ng-click="toggleMed()" ng-class="medClass">
		<div class="karte-{{med.typ}}">
			<div class="tagBar" ng-class="medClass"></div>
			<img class="medi" ng-src="{{med.bild}}">
			<h2 class="name">{{med.name}}</h2>
			<p class="tag">{{med.tag}}</p>
			<img class="exp-icon" ng-src="{{med.icon}}" src="">
			<p class="expired">{{med.expab}}</p>
			<p class="exp-date">{{med.exp}}<span class="datum">{{med.datum}}</span></p>
		</div>
	</div>
</div>

