/* line 1, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 9, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
::-moz-selection {
  /* Code for Firefox */
  background: transparent; }

/* line 13, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
::selection {
  background: transparent; }

/* line 43, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
body {
  margin: 0;
  font: 100% Lato;
  background: transparent; }

/* line 49, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
body .abbild {
  z-index: 300;
  position: fixed;
  width: 375px;
  opacity: 0; }

/* line 59, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
header {
  top: 0;
  width: 100%;
  z-index: 100;
  position: fixed;
  height: 72px;
  margin-top: 0;
  background: #3BD28E;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2); }
  /* line 68, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
  header h1 {
    width: 100%;
    font-family: Lato-Light;
    font-size: 20px;
    line-height: 31.41px;
    margin: 25px 0;
    color: white;
    text-align: center;
    font-weight: lighter;
    font-size: 20px; }

/* line 81, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
input {
  display: none; }

/* line 87, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
.main {
  position: aboslute;
  top: 0;
  background: #F0F0F0;
  height: 627px; }

/* line 97, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
.karten {
  padding-top: 21.5%;
  padding-left: 3%; }
  /* line 100, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
  .karten .karte {
    width: 97%;
    height: 117px;
    margin-top: 10px;
    background: white;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2); }
    /* line 106, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
    .karten .karte .tag-gruen {
      background: #3BD28E;
      height: 100%;
      width: 2%; }
    /* line 111, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
    .karten .karte .tag-orange {
      background: #FFA500;
      height: 100%;
      width: 2%; }
    /* line 116, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
    .karten .karte .tag-red {
      background: #FB532D;
      height: 100%;
      width: 2%; }

/* line 126, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
ul {
  display: none; }

/* line 134, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
footer {
  background: white;
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 572px;
  height: 54.91px;
  box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.1); }
  /* line 143, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
  footer a img {
    height: 37px;
    margin-top: 9px;
    margin-left: 64.3px; }


/*# sourceMappingURL=app.css.map*/