/* line 1, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 9, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
::-moz-selection {
  /* Code for Firefox */
  background: transparent; }

/* line 13, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
::selection {
  background: transparent; }

/* line 53, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
body {
  margin: 0;
  font: 100% Lato;
  background: transparent; }

/* line 59, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
body .abbild {
  z-index: 300;
  position: fixed;
  width: 375px;
  opacity: 0; }

/* line 69, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
header {
  top: 0;
  width: 100%;
  z-index: 100;
  position: fixed;
  height: 72px;
  margin-top: 0;
  background: #3BD28E;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2); }
  /* line 78, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
  header h1 {
    width: 100%;
    font-family: Lato-Light;
    font-size: 20px;
    line-height: 31.41px;
    margin: 25px 0;
    color: white;
    text-align: center;
    font-weight: lighter;
    font-size: 20px; }

/* line 91, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
input {
  display: none; }

/* line 97, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
.main {
  position: aboslute;
  top: 0;
  background: #F0F0F0;
  height: 627px; }

/* line 107, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
.karten {
  padding-top: 20.8%;
  padding-left: 3%; }
  /* line 110, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
  .karten .medi {
    position: absolute;
    width: 94px;
    margin: 24px 26px; }
  /* line 115, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
  .karten .karte {
    float: left;
    position: relative;
    margin-top: 11px;
    width: 97%;
    height: 117px;
    background: white;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2); }
    /* line 123, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
    .karten .karte .tag-gruen {
      position: absolute;
      background: #3BD28E;
      height: 117px;
      width: 2%; }
    /* line 129, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
    .karten .karte .tag-orange {
      position: absolute;
      background: #FFA500;
      height: 117px;
      width: 2%; }
    /* line 135, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
    .karten .karte .tag-red {
      position: absolute;
      background: #FB532D;
      height: 117px;
      width: 2%; }
    /* line 141, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
    .karten .karte .name {
      margin-left: 140px;
      padding-top: 3px;
      margin-bottom: 0;
      font-size: 18px; }
    /* line 147, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
    .karten .karte .tag {
      margin-left: 140px;
      margin-top: 2px;
      font-size: 18px;
      font-family: Lato-Light; }
    /* line 153, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
    .karten .karte .exp-date {
      margin-left: 165px;
      font-family: Lato-Light;
      font-size: 14px; }
    /* line 158, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
    .karten .karte .expired {
      margin-left: 140px;
      font-size: 14px;
      font-weigth: 400;
      color: #FB532D; }

/* line 170, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
ul {
  display: none; }

/* line 178, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
footer {
  background: white;
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 572px;
  height: 54.91px;
  box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.1); }
  /* line 186, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
  footer a {
    text-decoration: none; }
    /* line 188, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
    footer a img {
      height: 37px;
      margin-top: 9px;
      margin-left: 64.3px; }


/*# sourceMappingURL=app.css.map*/