/* line 1, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 9, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
::-moz-selection {
  /* Code for Firefox */
  background: transparent; }

/* line 13, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
::selection {
  background: transparent; }

/* line 56, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
body {
  margin: 0;
  font: 100% Lato;
  background: transparent; }

/* line 62, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
body .abbild {
  z-index: 300;
  position: fixed;
  width: 100%;
  opacity: 0; }

/* line 72, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
.header-medikamente {
  top: 0;
  width: 100%;
  z-index: 100;
  position: fixed;
  height: 72px;
  margin-top: 0;
  background: #3BD28E;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2); }
  /* line 81, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
  .header-medikamente h1 {
    width: 100%;
    font-family: Lato-Light;
    font-size: 20px;
    line-height: 31.41px;
    margin: 25px 0;
    color: white;
    text-align: center;
    font-weight: lighter;
    font-size: 20px; }

/* line 94, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
input {
  display: none; }

/* line 100, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
.header-profil {
  top: 0;
  width: 100%;
  z-index: 100;
  position: fixed;
  height: 143px;
  margin-top: 0;
  background: #3BD28E; }
  /* line 108, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
  .header-profil h1 {
    width: 100%;
    font-family: Lato-Light;
    font-size: 20px;
    line-height: 31.41px;
    margin: 25px 0 0px;
    color: white;
    text-align: center;
    font-weight: lighter;
    font-size: 20px; }
  /* line 119, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
  .header-profil img {
    width: 170px;
    margin: 0 0 0 27.33%; }

/* line 129, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
.medikamente-main {
  position: aboslute;
  top: 0;
  background: #F0F0F0;
  height: 910px; }

/* line 138, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
.profil-main {
  position: aboslute;
  top: 0;
  background: white; }

/* line 146, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
.karten {
  padding-top: 20.8%;
  padding-left: 3%; }
  /* line 149, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
  .karten .medi {
    position: absolute;
    width: 94px;
    margin: 24px 26px; }
  /* line 154, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
  .karten .exp-icon {
    float: left;
    margin-left: 140px;
    width: 19px; }
  /* line 159, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
  .karten .karte {
    float: left;
    position: relative;
    margin-top: 11px;
    width: 97%;
    height: 117px;
    background: white;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2); }
    /* line 167, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
    .karten .karte .tag-gruen {
      position: absolute;
      background: #3BD28E;
      height: 117px;
      width: 2%; }
    /* line 173, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
    .karten .karte .tag-orange {
      position: absolute;
      background: #FFA500;
      height: 117px;
      width: 2%; }
    /* line 179, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
    .karten .karte .tag-red {
      position: absolute;
      background: #FB532D;
      height: 117px;
      width: 2%; }
    /* line 185, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
    .karten .karte .name {
      margin-left: 140px;
      padding-top: 3px;
      margin-bottom: 0;
      font-size: 18px; }
    /* line 191, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
    .karten .karte .tag {
      margin-left: 140px;
      margin-top: 2px;
      font-size: 18px;
      font-family: Lato-Light; }
    /* line 197, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
    .karten .karte .exp-date {
      margin-left: 165px;
      font-family: Lato-Light;
      font-size: 14px;
      line-height: 20px; }
      /* line 202, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
      .karten .karte .exp-date .datum {
        margin-left: 20px; }
    /* line 206, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
    .karten .karte .expired {
      margin-left: 165px;
      font-size: 14px;
      font-weigth: 400;
      color: #FB532D;
      line-height: 22px; }
    /* line 213, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
    .karten .karte:last-child {
      margin-bottom: 67px; }

/* line 228, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
.list {
  margin: 0;
  color: red;
  font-size: 16px;
  padding: 85px 0 20px 0;
  width: 100%;
  height: 500px; }
  /* line 235, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
  .list li {
    position: relative;
    list-style: none;
    height: auto;
    padding: 16px 40px 10px 10px;
    border-bottom: 2px solid white;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px; }
    /* line 245, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
    .list li .angabe {
      color: black; }
    /* line 248, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
    .list li:last-child {
      padding-bottom: 110px; }

/* line 258, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
footer {
  background: white;
  z-index: 100;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 54.91px;
  box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.1); }
  /* line 266, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
  footer a {
    text-decoration: none; }
    /* line 268, /Users/Thomas/Dropbox/zhdk/2015:2016/Mobile User Interface/04_programming/InCartas/app/main.scss */
    footer a img {
      height: 37px;
      margin-top: 9px;
      margin-left: 64.3px; }


/*# sourceMappingURL=app.css.map*/