<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<title>InCartas</title>
	<link rel="stylesheet" charset="utf-8" href="app.css">
	<script src="app.js" charset="utf-8"></script>

</head>

<!-- <body ng-app="InCartas"> -->

<body>
	
	<div class="main">

		<header class="header-medikamente">
			<h1>Medikamente</h1>
			<input type="text" ng-model="search">
		</header>


		<!-- 	<div class="main" ng-controller="directoryController"> -->
		<div class="karten">
			<div class="karte">
				<div class="tag-gruen"></div>
				<img class="medi" src="images/meds/aspirin.jpg">
				<h2 class="name">ASPIRIN</h2>
				<p class="tag">Schmerzen / Fieber</p>
				<img class="exp-icon" src="images/icons/ablaufdatum-green.png">
				<p class="exp-date">Exp. Date <span class="datum">22.07.2017</span></p>
			</div>

			<div class="karte">
				<div class="tag-gruen"></div>
				<img class="medi" src="images/meds/Paracetamol.jpg">
				<h2 class="name">Paracetamol</h2>
				<p class="tag">Schmerzen / Fieber</p>
				<img class="exp-icon" src="images/icons/ablaufdatum-green.png">
				<p class="exp-date">Exp. Date <span class="datum">13.04.2016</span></p>
			</div>

			<div class="karte">
				<div class="tag-orange"></div>
				<img class="medi" src="images/meds/Olynth.jpg">
				<h2 class="name">Olynth</h2>
				<p class="tag">Erkältung</p>
				<img class="exp-icon" src="images/icons/ablaufdatum-orange.png">
				<p class="exp-date">Exp. Date <span class="datum">22.10.2015</span></p>
			</div>

			<div class="karte">
				<div class="tag-orange"></div>
				<img class="medi" src="images/meds/bepanthen.jpg">
				<h2 class="name">Bepanthen</h2>
				<p class="tag">Wunderkrankungen</p>
				<img class="exp-icon" src="images/icons/ablaufdatum-orange.png">
				<p class="exp-date">Exp. Date <span class="datum">27.11.2015</span></p>
			</div>

			<div class="karte">
				<div class="tag-red"></div>
				<img class="medi" src="images/meds/diclofenac.jpg">
				<h2 class="name">Diclofenac</h2>
				<p class="tag">Schmerzen</p>
				<img class="exp-icon" src="images/icons/ablaufdatum-red.png">
				<p class="expired">Produkt ist abgelaufen!</p>
			</div>			

			<div class="karte">
				<div class="tag-red"></div>
				<img class="medi" src="images/meds/voltaren.jpg">
				<h2 class="name">Voltaren</h2>
				<p class="tag">Schmerzen</p>
				<img class="exp-icon" src="images/icons/ablaufdatum-red.png">
				<p class="expired">Produkt ist abgelaufen!</p>
			</div>
		</div>


		<ul>
			<li ng-repeat="item in list | filter:search">
				{{item.name}} -- {{item.tag}}
			</li>
		</ul>









		<footer>
			<a href="medikamente.html">
				<img src="images/icons/medikamente_active.png">
			</a>
			<a href="profil.html">
				<img src="images/icons/profil_inactive.png">
			</a>
			<a href="scan.html">
				<img src="images/icons/scan_inactive.png">
			</a>
		</footer>
	</div>

	<script type="text/javascript">
	require('main');
	</script>
	<script type="text/javascript">
	require('directory');
	</script>

</body>
</html>
