<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<title>InCartas</title>
	<link rel="stylesheet" charset="utf-8" href="app.css">
	<script src="app.js" charset="utf-8"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
</head>

<!-- <body ng-app="InCartas"> -->

<body>
	
	<img class="abbild" src="images/medikamente.png">

	<div class="main">

		<header>
			<h1>Medikamente</h1>
			<input type="text" ng-model="search">
		</header>


		<!-- 	<div class="main" ng-controller="directoryController"> -->
		<div class="karten">
			<div class="karte">
				<div class="tag-gruen"></div>
				<img src="images/meds/aspirin.jpg">
			</div>

			<div class="karte">
				<div class="tag-gruen"></div>
			</div>

			<div class="karte">
				<div class="tag-orange"></div>
			</div>

			<div class="karte">
				<div class="tag-orange"></div>
			</div>

			<div class="karte">
				<div class="tag-red"></div>
			</div>			

			<div class="karte">
				<div class="tag-red"></div>
			</div>
		</div>


		<ul>
			<li ng-repeat="item in list | filter:search">
				{{item.name}} -- {{item.tag}}
			</li>
		</ul>









		<footer>
			<a href="medikamente.html">
				<img src="images/icons/medikamente_active.png">
			</a>
			<a href="profil.html">
				<img src="images/icons/profil_inactive.png">
			</a>
			<a href="scan.html">
				<img src="images/icons/scan_inactive.png">
			</a>
		</footer>
	</div>

	<script type="text/javascript">
	require('main');
	</script>
	<script type="text/javascript">
	require('directory');
	</script>

</body>
</html>
