*	{
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

::-moz-selection { /* Code for Firefox */
	background: transparent;
}

::selection {
	background: transparent;

}





// Colors
$profil-background: white;
$medi-background: #F0F0F0;
$card-background: white;      
$header-font-color: white;

$green: #3BD28E;
$orange: #FFA500;
$red: #FB532D;

// Typografie
$main-font: Lato;
$header-font: Lato-Light;
$font-size-text: 16px;
$header-font-size: 20px;


$font-weight-title: lighter;

// - BODY -----------------------

body	{
	margin: 0;
	font: 100% $main-font;
	background: transparent;
}

body .abbild {
	z-index: 300;
	position: fixed;
	width: 375px;
	opacity: 0;

}

// - HEADER -----------------------

header {
	top: 0;
	width:100%;
	z-index:100;
	position:fixed;
	height: 72px;
	margin-top: 0;
	background: $green;
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.20);
	h1 {
		width:100%;
		font-family: $header-font;
		font-size: $header-font-size;
		line-height: 31.41px;
		margin: 25px 0;
		color: $header-font-color;
		text-align: center;
		font-weight: $font-weight-title;
		font-size:$header-font-size;
	}
}

input {
	display: none;
}

// - CONTENT -----------------------

.main {
	position: aboslute;
	top: 0;
	background: $medi-background;
	height: 627px;
}


// - KARTEN -----------------------

.karten {
	padding-top: 21.5%;
	padding-left: 3%;
	.karte{
		width: 97%;
		height: 117px;
		margin-top: 10px;
		background: $card-background;
		box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.20);
		.tag-gruen {
			background: $green;
			height: 100%;
			width: 2%;
		}
		.tag-orange {
			background: $orange;
			height: 100%;
			width: 2%;
		}
		.tag-red {
			background: $red;
			height: 100%;
			width: 2%;
		}
	}
}



ul {
	display: none;
}

// - FOOTER -----------------------



footer {
	background: white;
	width: 100%;
	z-index:100;
	position: fixed;
	top: 572px;
	height: 54.91px;
	box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.10);
	a {
		img {
			height: 37px;
			margin-top: 9px;
			margin-left: 64.3px;
		}
	}
}



// -----------------------