*	{
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

::-moz-selection { /* Code for Firefox */
	background: transparent;
}

::selection {
	background: transparent;

}



// Colors
$background-color: white;
$header-background: white;
$header-font-color: black;

// Typografie
$font-stack: Lato;
$title-font: Lato;
$font-size-text: 16px;

$font-size-title: 24px;
$font-weight-title: 100;

// -----------------------

body	{
	margin: 0;
	background: white;
	font: 100% $font-stack;
}

// -----------------------

.header {
	width:100%;
	z-index:100;
	position:fixed;
	height: 64px;
	margin-top: 0;
	background: $header-background;
}

h1 {
	font-family: $title-font;
	margin: 25px 0;
	width:100%;
	color: $header-font-color;
	text-align: center;
	font-weight: $font-weight-title;
	font-size:$font-size-title;
}

// -----------------------
