

<header class="header-scan">
	<h1>Info-Scan</h1>
	<input type="text" ng-model="search">
</header>




<video autoplay loop muted poster="../video/aspirin.jpg" id="video-bg">

	<source src="video/aspirin.webm" type="video/webm">
	<source src="video/aspirin.mp4" type="video/mp4">
</video>

	<img class="camera-guide" src="images/icons/camera-guide.png">

<div class="footer-scan">
	<a href="medikamente.html">
		<img src="images/icons/medikamente_inactive.png">
	</a>
	<a href="profil.html">
		<img src="images/icons/profil_inactive.png">
	</a>
	<a href="scan.html">
		<img src="images/icons/scan_active.png">
	</a>
</div>

